@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h4><span class="glyphicon glyphicon-globe"></span><strong> One Stop Software Solutions</strong></h4>

<address>
    Abberley Business Square<br />
    Tallaght<br />
    Dublin, Ireland<br />
    <abbr title="Phone">P:</abbr>
    01 4651295
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bobbymaceneaney@gmail.com">bobbymaceneaney@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:krissirin@yahoo.com">krissirin@yahoo.com</a>
</address>

<h3>@ViewBag.Message</h3>
<form method="post">
    <textarea name=" message"></textarea>
    <br />
    <input type="submit" value="Send" />
</form>