@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NASDAQ UPDATE</h1>
    <p class="lead">Relentless commitment at Nasdaq.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tech</h2>
        <p>
            Software solution offers a complete package to streamline internal controls.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trade</h2>
        <p>Trading and market update for most 20 Active Nasdaq stocks.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track</h2>
        <p>Real time update in last sale prices.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>